/.vscode
/border5.png
/colorama-0.4.4-py2.py3-none-any.whl
/qrcode-6.1-py2.py3-none-any.whl
/Screenshot_1.png
/Screenshot_2.png
/Screenshot_3.png
/Screenshot_4.png
/Screenshot_5.png
/Screenshot_6.png
/Screenshot_7.png
/six-1.15.0-py2.py3-none-any.whl
/Study
/__pycache__